.container {
  width: 100%;
  margin: 0;
  background-color: white;
}

section {
  scroll-snap-align: start;
}

.vertical_content {
  display: flex;
  align-items: start;
  background-color: #725da4;
}

.about-text-h {
  color: #725da4;
  font-weight: 500;
}

.text-about {
  font-size: 1.2rem;
  font-weight: 520;
  color: #725da4;
}

.vertical_content .col_left {
  top: 35%;
  flex: 1;
  max-width: 50%;
  position: sticky;
}
.vertical_content .col_right {
  max-width: 100%;
  /* border: 10px solid black; */
}

h2 {
  font-size: 10px;
  font-weight: 700;
}
.first-page {
  @apply h-5/6 flex w-full justify-center items-center bg-white;
}

.fifth-page {
  @apply flex bg-white w-full justify-center items-center snap-always snap-start;
}
