@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #725da4;
  color: #fff;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #725da4;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.headmain {
  line-height: 80;
}
